body {
    background-image: url("https://images8.alphacoders.com/105/thumb-1920-1052048.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    color: yellow;
    text-shadow: 1px 2px grey;
}

h3 {
    text-align: center;
    color: yellow;
    text-shadow: 1px 2px grey;
}