body {
    background-color: burlywood
}

img {
    width: 1920 px;
    height: 1080 px;
}

h1 {
    text-align: center;
    color: yellow;
    text-shadow: 1px 2px grey;
}

h3 {
    text-align: center;
    color: yellow;
    text-shadow: 1px 2px grey;
}