body {
    background-image: url("https://images8.alphacoders.com/105/thumb-1920-1052048.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%
}

h1 {
    text-align: center;
    color: yellow;
    text-shadow: 1px 2px grey;
}

h3 {
    text-align: center;
    color: yellow;
    text-shadow: 1px 2px grey;
}